# Script-Datei erzeugt mit ONE-FILE EDITOR
# (c) 1995 Uwe Keim


DIR   = C:\UTILY\COMP\BP\ATOMIX\

PROJ  = $(DIR)ATOMS.DAT

KEY   = 1

FILES = $(DIR)ATOMS.HIG $(DIR)ATOMS.HSC $(DIR)ATOMS.LEV\
	 $(DIR)ATOMS.PAL $(DIR)ATOMS.SPR $(DIR)ATOMS1.FNT\
	 $(DIR)ATOMS1.PCX $(DIR)ATOMS2.FNT $(DIR)ATOMS2.PCX\
	 $(DIR)ATOMS3.FNT $(DIR)ATOMS3.PCX $(DIR)ATOMS4.FNT\
	 $(DIR)ATOMS4.PCX $(DIR)ATOMS5.FNT $(DIR)CT-VOICE.DRV\
	 $(DIR)LAUGHTER.VOC $(DIR)NEWEXP.VOC $(DIR)SCRATCH.VOC\
	 $(DIR)SCREAM.VOC
