# Script-Datei erzeugt mit ONE-FILE EDITOR
# (c) 1995 Uwe Keim


DIR   = C:\UTILY\COMP\BP\ATOMIX\

PROJ  = $(DIR)ATOMIX.DAT

KEY   = 1

FILES = $(DIR)ATOMI1.PCX $(DIR)ATOMI2.PCX $(DIR)ATOMI3.PCX\
	 $(DIR)ATOMI4.PCX $(DIR)ATOMIX.FNT $(DIR)ATOMIX.HIG\
	 $(DIR)ATOMIX.HSC $(DIR)ATOMIX.LEV $(DIR)ATOMIX.PAL\
	 $(DIR)ATOMIX.SPR $(DIR)CT-VOICE.DRV $(DIR)LAUGHTER.VOC\
	 $(DIR)NEWEXP.VOC $(DIR)SCRATCH.VOC $(DIR)SCREAM.VOC
